## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.5069,80.5464,6.93,94,100,10.04,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,71.76,94,20,5.75,few clouds
2,2,Ponta Do Sol,PT,32.6667,-17.1000,76.71,78,37,7.09,scattered clouds
3,3,Butaritari,KI,3.0707,172.7902,80.51,78,46,9.57,light rain
4,4,Nizwa,OM,22.9333,57.5333,80.91,24,3,7.38,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 87

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaini,TO,-21.2000,-175.2000,71.76,94,20,5.75,few clouds
2,2,Ponta Do Sol,PT,32.6667,-17.1000,76.71,78,37,7.09,scattered clouds
3,3,Butaritari,KI,3.0707,172.7902,80.51,78,46,9.57,light rain
4,4,Nizwa,OM,22.9333,57.5333,80.91,24,3,7.38,clear sky
5,5,Kahului,US,20.8947,-156.4700,70.84,76,1,5.75,clear sky
7,7,Rikitea,PF,-23.1203,-134.9692,74.07,88,100,17.58,moderate rain
8,8,Constitucion,CL,-35.3333,-72.4167,61.68,71,100,6.89,overcast clouds
10,10,Bredasdorp,ZA,-34.5322,20.0403,63.72,77,97,9.22,overcast clouds
13,13,Avarua,CK,-21.2078,-159.7750,73.45,73,75,8.05,broken clouds
19,19,Melville,US,40.7934,-73.4151,65.53,72,20,1.99,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                334
City                   334
Country                334
Lat                    334
Lng                    334
Max Temp               334
Humidity               334
Cloudiness             334
Wind Speed             334
Current Description    334
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# included a dropna in preferred_cities

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,
2,Ponta Do Sol,PT,76.71,scattered clouds,32.6667,-17.1000,
3,Butaritari,KI,80.51,light rain,3.0707,172.7902,
4,Nizwa,OM,80.91,clear sky,22.9333,57.5333,
5,Kahului,US,70.84,clear sky,20.8947,-156.4700,
7,Rikitea,PF,74.07,moderate rain,-23.1203,-134.9692,
8,Constitucion,CL,61.68,overcast clouds,-35.3333,-72.4167,
10,Bredasdorp,ZA,63.72,overcast clouds,-34.5322,20.0403,
13,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,
19,Melville,US,65.53,few clouds,40.7934,-73.4151,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df =hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,Ponta Do Sol,PT,76.71,scattered clouds,32.6667,-17.1000,Hotel do Campo
3,Butaritari,KI,80.51,light rain,3.0707,172.7902,Isles Sunset Lodge
4,Nizwa,OM,80.91,clear sky,22.9333,57.5333,Orient Apartments
5,Kahului,US,70.84,clear sky,20.8947,-156.4700,Maui Seaside Hotel
7,Rikitea,PF,74.07,moderate rain,-23.1203,-134.9692,People ThankYou
8,Constitucion,CL,61.68,overcast clouds,-35.3333,-72.4167,Hotel Boutique Las Azucenas
10,Bredasdorp,ZA,63.72,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
13,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,Paradise Inn
19,Melville,US,65.53,few clouds,40.7934,-73.4151,Marriott Melville Long Island

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))